/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #224abe;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 360px) {
  h5 {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  a {
    font-size: 13px;
  }
}

/*--------------------------------------------------------------
# Special/Khas
--------------------------------------------------------------*/

input[type="email"] {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="password"] {
  display: block;
  width: 540px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="email"]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #224abe;
  outline: 0;
  /*box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);*/
}

input[type="password"]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #224abe;
  outline: 0;
}

input[type="submit"] {
  background: #224abe;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

input[type="submit"]:hover {
  background: #4e73df;
}