{% extends 'account-base.html' %}
{% load static %}

{% block title %}
Password change
{% endblock title %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/password.css' %}">
{% endblock extra-css %}

{% block menu %}
<li><a href="{% url 'home' %}">Institutes</a></li>
<li><a href="{% url 'search' %}">Search</a></li>
{% endblock menu %}

{% block your-account %}
<div class="btn-group">
  <button class="btn-account btn-active dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
      {% if request.user %}
      {{request.user.username|truncatechars:8}}
      {% else %}
      Anonymous
      {% endif %}
    </button>
  <div class="dropdown-menu shadow" style="border: none;">
    <a class="dropdown-item" href="{% url 'account' %}">My profile</a>
    <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
  </div>
</div>
{% endblock your-account %}

{% block body %}
<br><br><br>
    <div class="container mt-5">
        <h3>Password change</h3>

        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    
        <form method="post">

	        {% csrf_token %}
	        {{form.as_p}}
	        <input type="submit" name="Change my password">
	
        </form>
    </div>
<br><br><br><br>
{% endblock body %}

{% block email-form-token %}
{% csrf_token %}
{% endblock email-form-token %}