{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block menu %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li class="active"><a href="{% url 'contact' %}">Contact</a></li>
{% endblock menu %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Contact us via form given below and we will reply as soon as possible, tell us your any queries related to website and our work. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.160969225354!2d77.76187991476178!3d20.946049886043266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd6a35c932b0c65%3A0x2d3eac241b72e890!2sGovernment%20Polytechnic%20Amravati!5e0!3m2!1sen!2sin!4v1614424745650!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>GPA, VMV Road, Amravati, MH, India 444604</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>admin@mymentor.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 1234567890</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <!-- {% if messages %}
              <ul class="messages">
              {% for message in messages %}
                
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                  <li><p style="color: red;">{{ message }}</p></li>
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <li><p style="color: green;">{{ message }}</p></li>
                {% endif %}

              {% endfor %}
              </ul>
            {% endif %} -->
            <form action="{% url 'submit-contact' %}" method="post" role="form" class="our-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:3" data-msg="Please enter at least 3 chars"/>
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="email">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"/>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 4 chars of subject"/>
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" name="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock body %}

{% block email-form-token %}
{% csrf_token %}
{% endblock email-form-token %}

{% block extra-js %}
<script src="{% static 'assets/vendor/form/validate-contact.js' %}"></script>
{% endblock extra-js %}