{% extends 'institute-base.html' %}
{% load static %}

{% block title %}Institute Home{% endblock title %}

{% block extra-css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
{% endblock extra-css %}

{% block menu %}
<li class="active"><a href="{% url 'institute-home' %}">Institutes</a></li>
<li><a href="{% url 'institute-search' %}">Search</a></li>
{% endblock menu %}

{% block your-account %}
<div class="btn-group">
    <button class="btn-account dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
    <div class="dropdown-menu shadow" style="border: none;">
      <a class="dropdown-item" href="{% url 'institute-account' %}">My Profile</a>
      <a class="dropdown-item" href="#">Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% endblock your-account %}

{% block body %}
<br><br><br>
<main id="main">

      <!-- ======= Based on personal choices Colleges Section ======= -->
      <section id="choices-colleges" class="colleges">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Based on Personal Choices</h2>
          </div>
  
          <div class="row" data-aos="zoom-in" data-aos-delay="100">

            {% for college in liked_colleges %}
            <div id="first" class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <!-- College item -->
              <div class="college-item active">
                <img src="{{college.backgroundImage.url}}" class="img-fluid college-img" alt="">
                <div class="college-content">
  
                  <div class="d-flex justify-content-around align-items-center mb-3">
                    <a href="#" class="btn btn-follow btn-sm">Follow</a>
                    <div class="rating">
                      <p>Rating</p>
                      <p class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                      </p>
                    </div>
                  </div>
  
                  <h3>
                    <a href="#gpa">{{college.name}}</a> 
                      <i class="fa fa-check-circle text-primary" aria-hidden="true"></i>
                  </h3>
  
                  <h6>
                    <a href="#cm"><span class="badge badge-pill badge-outline-info">Computer Engineering</span></a>
                    <a href="#civil"><span class="badge badge-pill badge-outline-info">Civil Engineering</span></a>
                    <a href="#civil"><span class="badge badge-pill badge-outline-info">more</span></a>
                  </h6>
                  
                  <div class="college d-flex justify-content-between align-items-center">
                    <div class="college-profile d-flex align-items-center">
                      <img src="{{college.profileImage.url}}" class="img-fluid" alt="">
                      <span>{{college.username}}</span>
                    </div>
                    <div class="college-rank d-flex align-items-center">
                      <i class="bx bx-heart"></i>&nbsp;{{college.profileLikes}}
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End College Item-->
            {% endfor %}
        </div>
      </section><!-- End Recent Collges Section -->

        <!-- ======= Popular Colleges Section ======= -->
        <section id="popular-colleges" class="colleges">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Nirf Raking Colleges</h2>
            </div>
    
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
              {% for college in nirf_colleges %}
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <!-- College item -->
                <div class="college-item">
                  <img src="{{college.backgroundImage.url}}" class="img-fluid college-img" alt="">
                  <div class="college-content">
    
                    <div class="d-flex justify-content-around align-items-center mb-3">
                      <a href="#" class="btn btn-follow btn-sm">Follow</a>
                      <div class="rating">
                        <p>Rating</p>
                        <p class="star">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                        </p>
                      </div>
                    </div>
    
                    <h3>
                      <a href="#gpa">{{college.name}}</a> 
                        <i class="fa fa-check-circle text-primary" aria-hidden="true"></i>
                        <span class="badge badge-warning">#{{college.nirfRanking}}</span>
                    </h3>
    
                    <h6>
                      <a href="#cm"><span class="badge badge-pill badge-outline-info">Computer Engineering</span></a>
                      <a href="#civil"><span class="badge badge-pill badge-outline-info">Civil Engineering</span></a>
                      <a href="#civil"><span class="badge badge-pill badge-outline-info">more</span></a>
                    </h6>
                    
                    <div class="college d-flex justify-content-between align-items-center">
                      <div class="college-profile d-flex align-items-center">
                        <img src="{% static 'assets/img/trainers/siddhesh2.jpg' %}" class="img-fluid" alt="">
                        <span>{{college.username}}</span>
                      </div>
                      <div class="college-rank d-flex align-items-center">
                        <i class="bx bx-user"></i>&nbsp;50
                        &nbsp;&nbsp;
                        <i class="bx bx-heart"></i>&nbsp;{{college.profileLikes}}
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- End College Item-->
              {% endfor %}
            </div>
    
          </div>
        </section><!-- End Popular Collges Section -->

</main>

<!-- Modal -->
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alrt" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alert-title">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

{% if is_first %}
<!-- Modal for course addition -->
<div class="modal fade" id="course-form" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add courses to your profile</h5>
      </div>
      <form method="POST" class="course-form" action="{% url 'courses_submit' %}">
        {% csrf_token %}
        <div class="modal-body">
          <select id="select-courses" name="select-courses" placeholder="Select courses" multiple>
            {% for course in courses %}
            <option value="{{course.courseName}}">{{course.courseName}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          {% comment %} <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
          <button type="submit" class="btn btn-save-changes">Save changes</button>
        </div>
      </form>
      <div class="mb-2">
        <div class="loading">Loading</div>
        <div id="modal-error-message" style="color: #D83D5A; font-weight: 500;">Something went wrong!</div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock body %}

{% block email-form-token %}
{% csrf_token %}
{% endblock email-form-token %}

{% block extra-js %}
<script>
  {% if is_first %}
    $('#course-form').modal('show');
  {% endif %}

  $(document).ready(function() {
    var multipleCancelButton = new Choices('#select-courses', {
    removeItemButton: true,
    maxItemCount:50,
    searchResultLimit:5,
    renderChoiceLimit:5
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<script src="{% static 'assets/vendor/form/course_submit.js' %}"></script>
{% endblock extra-js %}