<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>Password reset</title>

	<!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/password.css' %}">

	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
	<div class="container mt-5">
		<h3>Password reset</h3>

        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

        <form method="post">

	        {% csrf_token %}
	        <div class="row">
	        	<div class="col-lg-6">{{form.as_p}}</div>
	        </div>
	        <input type="Submit" name="Send email">
	
        </form>
	</div>
</body>
</html>